<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="row">
        <div id="col-md-3">Upcoming Movies</div>
        <div id="col-md-3">Trailers</div>
        <div id="col-md-3">Tickets</div>
    </div>
    <ul id="messages"></ul>

    <form action="/new" method="POST" type="form/multipart">
      <input name="title" id="title" type="text" placeholder="Title"/><br>
      <textarea name="content" id="content" type="text" placeholder="Content" rows="10"></textarea><br>
      <input name="author" id="author" type="text" placeholder="Author"/><br>
      Poster :
      <input name="image" id="image" type="file" placeholder="Poster"/><br>
      <button type="submit">Submit</button>
      <button type="clear">Clear</button>
    </form>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $("form").submit(function(){

        $('#m').val('');
        return false;
      });
    </script>
  </body>
</html>
